<a class="address" data-inviewport="fadeInUp" href="https://www.google.com/maps/search/?api=1&query=Parque+Los+Llorones">
    <span class="park-name">Parque Los Llorones</span><br />
    <span class="detailed-address">Av. Los Llorones, Campestre del Bosque, 31415 Chihuahua, Chih.</span><br />
</a>

<style>
    .address {
        text-decoration: underline dotted #8B3A40;
        margin-bottom: 5vh;
        opacity: 0;
        display: block;
        margin: 0;
    }
    
    .park-name {
        font-size: 6vw;
        line-height: 1.5;
        color: #8B3A40;
    }

    .detailed-address {
        color: #C39798;
        text-decoration: underline dotted #C39798;
        -webkit-text-decoration-line: dotted;
        -webkit-text-decoration-color: #C39798;
    }

    [data-inviewport="fadeInUp"].is-inViewport { 
		animation: fadeInUp 1s forwards;
	}
</style>