<>
    <p class="text" data-inviewport="fadeInUp">Su compañía es lo más valioso para nosotros. Si desean hacernos un obsequio, agradeceremos que sea un apoyo monetario, para ayudarnos a dar los primeros pasos en esta nueva etapa.</p>
    <p class="text" data-inviewport="fadeInUp">Cuenta CLABE | 638180000149072090</p>
    <p class="gift-info" data-inviewport="fadeInUp">En el lugar habrá un cofre para depositar efectivo :)</p>
</>

<style>
    p {
        font-family: "Quintessential", serif;
        font-weight: 300;
        color: #a26442;
    }

    .text {
        opacity: 0;
    }

    .gift-info {
        font-size: 2.5vw;
        opacity: 0;
        margin: -16px 0 0 0;
    }

    [data-inviewport="fadeInUp"].is-inViewport { 
		animation: fadeInUp 1s forwards 0.5s;
	}
</style>
