<>
    <p class="text" data-inviewport="fadeInUp">Su compañía es lo más valioso para nosotros. Si desean hacernos un obsequio, agradeceremos que sea en efectivo para ayudarnos a dar los primeros pasos en esta nueva etapa.</p>
    <p class="text" data-inviewport="fadeInUp">Cuenta | 638180000149072090</p>
</>

<style>
    p {
        font-family: "Quintessential", serif;
        font-weight: 300;
        color: #a26442;
    }

    .text {
        opacity: 0;
    }

    [data-inviewport="fadeInUp"].is-inViewport { 
		animation: fadeInUp 1s forwards 0.5s;
	}
</style>
