<h1 class="names">
    <span>Cinthya</span>&<span>Cesar</span>
</h1>

<style>
    .names {
		text-align: center;
		font-family: "WindSong", cursive;
		font-size: 17vw;
		align-self: flex-end;
		line-height: 1;
		color: #8b3a40;
		font-weight: 100;
        margin-top: 0.25em;

		animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
		animation-duration: 3.5s; /* don't forget to set a duration! */
	}
	
	.names span {
		display: block;
		color: #c39798;
		rotate: -6.7deg;
	}

    @media screen and (max-width: 768px) {
		h1 {
			line-height: 1.5;
		}
	}
</style>