---
import Names from './Names.astro';
import RSVPForm from './RSVPForm.astro';
import Flowers from './Flowers.astro';
import Acknowledgement from './Acknowledgement.astro';
import Details from './Details.astro';
import GiftMessage from './GiftMessage.astro';
---

<div id="container">
	<Flowers />
	<main>
		<section id="hero">
			<Names />
			<Acknowledgement />
			<Details />
		</section>
		<section id="footer">
			<GiftMessage />
		</section>
	</main>
	<RSVPForm />
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		background: linear-gradient(180deg, rgba(242,221,222,1) 0%, rgba(255,255,255,1) 100%);;
	}

	main {
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding-top: 5vw;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 85%;
		margin: 0 auto;
		gap: 8vh;
	}

	#footer {
		width: 90%;
		margin: 64px auto;
	}


	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
