---
import RSVPForm from './RSVPForm.astro';
---

<div id="container">
	<img src="flor_1.webp" class="top-flower" />
	<img src="hojas.svg" class="leaves" />
	<main>
		<section id="hero">
			<h1>
				<span>Cinthya</span>&<span>Cesar</span>
			</h1>
			<p class="acknowledgement">El destino nos cruzó, el amor nos unió, y ahora estamos listos para comenzar un nuevo capítulo juntos. Queremos compartir con ustedes este día tan especial, donde nuestros caminos se entrelazan para siempre.</p>
			<p class="details">
				<span> Julio | 2:00 PM</span><br />
				<span>Parque los llorones</span><br />
				<span>Av. Los Llorones, Campestre del Bosque, 31415 Chihuahua, Chih.</span><br />
				<span>Vestimenta Semiformal</span><br />
				<span>Evento libre de niños </span><br />
			</p>
		</section>
		<section id="footer">
			<p>Su compañía es lo más valioso para nosotros. Si desean hacernos un obsequio, agradeceremos que sea en efectivo para ayudarnos a dar los primeros pasos en esta nueva etapa.</p>
			<p>Cuenta | 0000000000000000</p>
		</section>
	</main>
	<RSVPForm />
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		background-color: #f2ddde;
	}

	.top-flower {
		position: absolute;
		width: 80vw;
		height: 78vw;
		rotate: -91.8deg;
		transform: translate(37%, -50%);
	}

	.leaves {
		position: absolute;
		width: 15vw;
		rotate: -126.4deg;
		left: 70vw;
		top: 43vw;
	}

	main {
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding-top: 5vw;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
		gap: 50px;
	}

	#hero h1 {
		text-align: center;
		font-family: "WindSong", cursive;
		font-size: 17vw;
		align-self: flex-end;
		line-height: 1;
		color: #8b3a40;
		font-weight: 100;
	}
	
	#hero h1 span {
		display: block;
		color: #c39798;
		rotate: -6.7deg;
	}

	#hero .acknowledgement {
		font-family: "Quintessential", serif;
		text-align: justify;
		letter-spacing: 2px;
		color: #8b3a40
	}

	#hero .details {
		text-align: center;
	}


	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#footer {
		width: 90%;
		margin: 0 auto;
		margin-top: auto;
	}


	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
